{% extends "base.html" %}
{% load static %}
{% block meta %}
  <title>CROWD-VID | DONATUR</title>
{% endblock meta %}
{% block content %}
<div class="container contentform" style="padding-left: 25px; padding-right: 25px;">
    <h1 class="green3"><br>Mereka butuh bantuan finansialmu!</h1>
    {% if form %}
        {% for formulir in form %}
            <div class="card m-5" style="padding: 20px; border-radius: 30px;">
                <tr>
                    <h1><a class="green2" style="text-decoration:none" href="{% url 'donatur:formulir_donatur' %}">{{formulir.namalengkap}}</a></h1>
                    <p class="green2">{{formulir.email}} <br> {{formulir.pekerjaan}}, {{formulir.kota}}</p>
                
                    <p class="grey">{{formulir.ceritasingkat}}</p>
                    <p class="green2">Rp. {{formulir.jmldana}}</p>
                </tr>
            </div>
        {% endfor %}
    {% endif %}
    <br>
</div>
{% endblock content %}
