{% load static %}
<footer class="footer">
    <div class="row">
        <div class="col-9">
          <h1>Hubungi<br>Kami</h1>
        </div>
        <div class="col-3" style="text-align: left;">
          <p>Email : crowd@vid.id <br>
            Instagram : @crowdvid <br>
            Facebook : Crowdvid ID</p>
        </div>
      </div>
</footer>