{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title> TERIMA KASIH! </title>
</head>
<h1 class="green1 tks">Terima Kasih!</h1>
<p class="green2 tks2">
    Bantuan finansial kamu sangat berarti untuk mereka <br> yang terkena dampak ekonomi pandemi ini.
    <br> Jangan lupa untuk selalu <b>#PeduliSesama</b> !
</p>

{% endblock content %}