{% extends "base.html" %}
{% load static %}
{% block meta %}
  <title>CROWD-VID | KRITIK & SARAN</title>
{% endblock meta %}
{% block content %}
<div class="container contentform" style="padding-left: 25px; padding-right: 25px;">
    
    <h1 class="green3"><br>Kritik dan Saran</h1>
    <h5 class="white" style="text-align: justify;"><br>Kami masih dalam masa perkembangan, bantu kami menjadi lebih baik dengan kritik dan saranmu! Semudah <a class="green3" style="color: #61897F;" href="{% url 'kritiksaran:form_kritik_saran' %}">klik disini</a></h5>

    {% if form %}
        {% for formulir in form %}
            <div class="card m-5" style="padding: 20px; border-radius: 30px;">
                <tr>
                   <img src="{% static '{{formulir.img}}' %}" alt="">
                    <h1 class="green2">{{formulir.namainitial}}</h1>
                    <p class="green2">{{formulir.kritik}}</p>                
                    <p class="grey">{{formulir.saran}}</p>
                </tr>
            </div>
        {% endfor %}
    {% endif %}
    <br>
</div>
{% endblock content %}