{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="style.css">

<style>
  @import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
   @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar {
  /* Rectangle 4 */
  position: relative;
  text-align: center;
  width: 100%;
  height: 10vw;
  left: 0px;
  top: 0px;
  background-color: #61897F;
}

.abc{
    /* PENERIMA & DONATUR*/

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  text-align: center;
  color: #DFBEBE;
}

.abc:hover {
  color: #DFBEBE;
}

.navbar_right{
  position: absolute;
  right:4vw;
  float: right;
}

.navbar_left{
  position: absolute;
  text-align: left;
  left:4vw;
  float:none;
}

.crowdvid{
    /* CROWD-VID */

    position: relative;
    left: 18%;
    top: 0vw;

    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    display: inline;
    color: #DFBEBE;
}

.crowdvid:hover {
  color: #DFBEBE;
}

@media screen and (max-width: 1024px) {
  .crowdvid{
    left:10vw;
  }
  .navbar_left{
    left:3vw;
  }

@media screen and (max-width: 900px) {
  .crowdvid{
    left:13vw;
  }
  .navbar_left{
    left:-3vw;
  }
  .navbar_right{
    right:3vw;
  }

@media screen and (max-width: 700px) {
  .crowdvid{
    left:19vw;
  }
  .navbar_left{
    left:-3vw;
  }

  @media screen and (max-width: 450px) {
  .crowdvid{
    left:27vw;
  }
  .navbar_left{
    left:-3vw;
  }

  @media screen and (max-width: 300px) {
  .crowdvid{
    left:27vw;
  }
  .navbar_left{
    left:-3vw;
  }


 
}



</style>

<nav class="navbar" >
    <div class="container">
      <div class="navbar-header">
        <div class="row">
          <a class= "crowdvid col-sm" style="text-decoration:none" href="{% url 'main:home' %}"> CROWD-VID </a>
            <ul class="navbar_right">
              <a class="abc col-sm" style="text-decoration:none" href="{% url 'penerima:pendaftar_form' %}">PENERIMA</a>
            </ul>
            <ul class="navbar_left">
              <a class="abc col-sm" style="text-decoration:none" href="{% url 'penerima:display_form' %}">DONATUR</a>
            </ul>
        </div>

      </div>
    </div>
  </nav>

