{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CROWDVID | HOME</title>
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
  <div class="contenthome">
    <div class="container mt-5">

      <div style="margin: auto;">
        <div class="row">
          <div class="box col-5 plspls magnify" style="padding: 10px;border-radius: 15px;">
            <h1 style="text-align: center;"><a class="green3" style="text-decoration:none; color: #61897F;" href="{% url 'kritiksaran:display_kritik_saran' %}">Kontribusi</a></h1>
            <p class="white" style="text-align: center;">Kritik dan Saran</p>
          </div>
          <div class="box col-5 plspls magnify" style="padding: 10px;border-radius: 15px;">
            <h1 style="text-align: center;"><a style="text-decoration:none; color: #61897F;" class="green3" href="{% url 'testimoni:d_testimoni' %}">Testimoni</a></h1>
            <p class="white" style="text-align: center;">Apa kata mereka?</p>
          </div>
        </div>
      </div>

      <br>

      <div>
        <h1 class="green1">#PeduliSesama</h1>
        <p class="green2">Di tengah situasi tak pasti COVID-19, kami harap dengan adanya platform ini dapat meningkatkan kesadaran masyarakat akan pentingnya <b>#PeduliSesama</b></p>
        <img class="responsive" src="{% static 'buruh.jpg' %}">
      </div>

      <!-- Box Infografis -->
      <div class="box magnify">
        <h1 class="white">Mengapa CrowdVid?</h1>
        <div class="row">
          <div class="col-3">
            <h1 class="redbig">35%</h1>
          </div>
          <div class="col" style="margin-left: 15px;margin-right: 15px;">
            <p class="white">Perusahaan terpaksa mengurangi jumlah pekerja alias <b>PHK untuk bertahan</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h1 class="redbig">50%</h1>
          </div>
          <div class="col" style="margin-left: 15px;margin-right: 15px;">
            <p class="white">Pekerja mengalami <b>pemotongan gaji sampai dengan 50%</b></p>
          </div>
        </div>
      </div>

      <br>

      <div>
        <h1 class="green1">Buruh Pabrik hingga Musisi</h1>
        <p class="green2">Beberapa sektor industri terkena dampak lebih besar dari pandemi ini. Ini kata mereka tentang <b>Crowdvid #PeduliSesama</b></p>
      </div>

      <!-- Testimoni -->
      <div class="row magnify" style="margin-top: 30px;">
        <div class="col">
          <img class="responsive" src="{% static 'photographer.png' %}">
        </div>
        <div class="col">
          <h3 class="green1">Salma, fotografer</h3>
          <p class="grey">hampir banget gabisa bayar kos karena job sepi, <b>untung ada crowdvid!</b> makasih buat semua yang udah kontribusi :-)</b></p>
        </div>
      </div>
      <div class="row magnify">
        <div class="col">
          <img class="responsive" src="{% static 'waiter.jpeg' %}">
        </div>
        <div class="col">
          <h3 class="green1">Agus, waiter</h3>
          <p class="grey">Bersyukur sekali karena Crowdvid saya sangat terbantu waktu restoran tutup dan belum gajian.</b></p>
        </div>
      </div>

      <div style="margin-top: 30px;">
        <h1 class="green3">Tunggu apa lagi?<br>Daftarkan dirimu langsung.</h1>
      </div>

    </div>
  </div>
{% endblock content %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h1>Hello, world!</h1>
  <p><img src="{% static 'img/django-logo-negative.svg' %}"></p>
{% endblock content %}
